/* leancloud */
.leancloud-visitors i:after {
  content: "";
  display: inline-block;
  margin: 0 5px;
  width: 10px;
  height: 10px;
}
.leancloud-count {
  color: #8CC152;
}
/* google ad */
.extra-spon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1em auto;
  text-align: center;
}
.extra-spon img {
  display: inline-block;
  vertical-align: middle;
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
  object-fit: contain;
}
/* 链接导航页面 */
.v-link h3 {
  margin-top: 0;
}
.v-link ul {
  max-width: 640px;
}
.v-link li {
  display: inline-block;
  width: 30%;
  min-width: 125px;
  max-width: 200px;
  margin: 5px;
  padding: 5px 3px;
  line-height: 1.4;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.v-link li a {
  white-space: nowrap;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.44);
}
.v-link li a:hover {
  color: #8CC152;
}
.v-link li:before {
  display: none;
}
/* 文章目录 */
.toc-article {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  max-width: 320px;
  height: 100%;
  transition: all 0.3s;
  transform: translateX(100%);
}
.toc-article.show {
  transform: translateX(0);
}
.toc-article.show .toc-btn {
  justify-content: space-around;
}
.toc-article.show .toc-btn i:first-child,
.toc-article.show .toc-btn i:last-child {
  transform: rotateZ(0);
}
.toc-wrap {
  height: 100%;
  padding: 2em 1em 0.5em 1em;
  font-size: 0.9em;
  color: #777;
  background: #fafafa;
  overflow-y: auto;
}
.toc-title {
  font-size: 120%;
}
.toc {
  padding: 0;
  margin: 1em;
  line-height: 1.8em;
}
.toc li {
  list-style-type: none;
}
.toc .toc-text:hover {
  color: #555;
}
.toc .toc-child {
  margin-left: 1em;
}
.toc-btn {
  position: absolute;
  left: -45px;
  bottom: 45px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: #353535;
  font-size: 0;
  transition: all 0.3s;
}
.toc-btn i {
  text-align: center;
  transform-origin: 31% 0;
}
.toc-btn i:after {
  content: "";
  display: inline-block;
  width: 50%;
  height: 1px;
  background: #fff;
}
.toc-btn i:first-child {
  transform: rotateZ(-45deg);
}
.toc-btn i:last-child {
  transform: rotateZ(45deg);
}
/* 计时器 */
.love-time {
  position: fixed;
  z-index: 999;
  bottom: 90px;
  left: 30px;
  margin-bottom: 12px;
  padding: 8px 15px;
  text-align: center;
  font-size: 15px;
  color: #9a8c8c;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.55);
}
@media (max-width: 1000px) {
  .love-time {
    position: static;
    margin: 0;
    padding: 3px 5px;
    text-shadow: none;
    background: none;
    font-size: 14px;
  }
  .love-time p {
    display: inline-block;
    vertical-align: middle;
  }
}
/* 链接跳转 */
.go {
  text-align: center;
}
.go .goLink {
  display: inline-block;
  margin: 20px auto;
  padding: 5px 12px;
  color: #969696;
  border: 1px solid #969696;
  border-radius: 5px;
}
.go .goLink:hover {
  color: #fff;
  background-color: #8CC152;
}
a.ftsp {
  color: #8CC152;
}
/* 作品集 */
.resume .project_list {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.resume .project_list li {
  display: block;
  width: 45%;
  min-width: 220px;
  margin-bottom: 15px;
}
.resume .card {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 3px;
}
.resume .card:hover {
  border-color: #8CC152;
}
.resume .card p {
  font-size: 13px;
  color: #969696;
}
.resume .card p:hover {
  color: #8CC152;
}
.resume .card span {
  color: #232323;
}
.resume .blank {
  height: 0;
}
@media (max-width: 560px) {
  .resume .project_list li {
    width: 90%;
  }
}
/* .grap {
    table {
        margin: 20px 0;
        border: 1px solid #eee;
    }
    td,th {
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
        &:first-child {
            border-left: 1px solid #eee;
        }
    }
} */
